<!--第一步：引入Javascript / CSS （CDN）-->
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
 
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
 
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
 
<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
 <body>
    <br>
    <br>
    <table id="example" class="table table-striped table-bordered table-hover table-condensed" width="100%" style="white-space: nowrap; ">
    <thead>
        <tr>
            <th>备份作业</th>
            <th>客户端</th>
            <th>存储单元</th>
            <th>存储池</th>
            <th>策略类型</th>
            <th>调度类型</th>
            <th>保留时间</th>
            <th>备份频率</th>
            <th>脚本</th>
            <th>备份窗口</th>
        </tr>
    </thead>
    </tbody></tbody>
    </table>
    <br>
 </body>
 
<!--第二步：添加如下 HTML 代码-->
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {

        "serverSide": true,
        "iDisplayLength": 20,
        "searching":true,
        "lengthMenu": [5, 10, 20, 30],
        "processing" : true,

        "ajax":{
            "type": 'POST' ,
            "url": '/policy_json/'
        },        
        columns: [
            {"data":"policy"},
            {"data":"policy_clients"},
            {"data":"policy_stu"},
            {"data":"policy_pool"},
            {"data":"policy_type"},
            {"data":"policy_sched_type"},
            {"data":"policy_sched_retention"},
            {"data":"policy_sched_frequency"},
            {"data":"policy_include"},
            {"data":"policy_windows"},
        ],
        'columnDefs': [{
                'targets': 0,
                'searchable': true
        }]
    } );
} );
$("form").submit(function(e){
    e.preventDefault();
    table = $("#example").DataTable();
    table.ajax.reload();
});
</script>
